.center{
   margin: 200px 460px;
   height: 140px;
}
p{
	color: black;
	font-family: arial;
	font-size: 14pt;
}
#submit{
	border:1px solid #4B546A;
	box-shadow: #B7B8B8 0px 1px 0px inset;
	border-radius: 3px;
	font-size: 10pt;
	padding: 5px;
	background-color: #808080;
	margin-left: 40%;
}
input{
	margin-bottom: 20px;
}

.button{
    border:1px solid #4B546A;
    box-shadow: #B7B8B8 0px 1px 0px inset;
    border-radius: 3px;
    font-size: 10pt;
    padding: 5px;
    background-color: #808080;
}
