.center{
   text-align: center;
}

p{
	color: black;
	font-family: arial;
	font-size: 14pt;
}

#voltar{
	border:1px solid #4B546A;
	box-shadow: #B7B8B8 0px 1px 0px inset;
	border-radius: 3px;
	font-size: 10pt;
	padding: 5px;
	background-color: #808080;
}

input{
	margin-bottom: 20px;
}
